#!/usr/bin/env bash


function calc() {

    local result=""

    #                       ┌─ default (when --mathlib is used) is 20
    result="$( printf "scale=10;%s\n" "$*" | bc --mathlib | tr -d "\\\n" )"
    #                         remove the tailing "\" and "\n" ─┘
    #                         (large numbers are printed on multiple lines)

    if [[ "$result" == *.* ]]; then

        # Improve the output for decimal numbers.

        printf "%s" "$result" | sed -e "s/^\./0./" -e "s/^-\./-0./" -e "s/0*$//;s/\.$//"

    else
        printf "%s" "$result"
    fi

    printf "\n"

}

function digg() {
    dig +nocmd "$1" any +multiline +noall +answer;
}
