[user]
	name = Jirka Kremser
	email = jkremser@redhat.com
[alias]
	bugs = "ls-remote --heads "

	# plain diff
	st = "status -sb"

	#colored diff
        dif = diff --ignore-all-space --color
	difw = diff --ignore-all-space --color --word-diff

	# View the SHA, description, and history graph of the latest 25 commits
	l = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\" --graph

	#abrv
	a = add
	cm = commit
	pl = pull --rebase
	ls = branch -a
	cd = checkout
	sh = show

	# Undo a `git push`
	undopush = push -f origin HEAD^:master

	unstage = reset

	# Undo your last commit, but don't throw away your changes
	undo = reset --soft HEAD^

        # fire up the merge tool
	mt = mergetool

	# changes between local repo and origin, use before pull/push to see the commits in advance
	wtf = log --oneline --left-right HEAD...origin/master
	h = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline

	ps = !sh -c 'git h && echo Are you sure? ENTER && read && git push origin master' -
	rps = !git pl && git ps
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[format]
  	pretty = format:time:    %C(green)%ad%Creset%ncommit:  %C(yellow)%H%Creset%nauthor:  %C(red)%an - %ae%Creset%nmessage: %C(blue)%s%Creset%n%n

[branch]
	autosetuprebase = always
[merge]
	tool = meld
