# this is needed for sbt to work properly with up-arrow
$if Bash
  # arrow up
  "\e[A":history-search-backward
  # arrow down
  "\e[B":history-search-forward
  # ctrl+alt+l to expand alias
  "\e\C-l":alias-expand-line
$endif

set show-all-if-ambiguous on
set completion-ignore-case on
set skip-completed-text on

# ctrl+left/right jump over the words
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Use Alt/Meta + Delete to delete the preceding word
#"\e[3;3~": kill-word
